html body {
  margin: 0;
  padding: 0;
  background-color: #2e3440;
  overflow-x: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
  width: min-content;
  height: min-content;
}
.container button {
  background-color: coral;
  border-radius: 0;
  color:#2e3440;
  display: block;
  width: 100%;
  font-size: larger;
  height: 30px;
  border: 0;
  margin: auto;
}

#gameZone canvas {
  margin-top: 33px;
  transition: width 0.1s;
  transition: height 0.1s;
}

/* Estilo de la página */

.header {
  color: rgb(236, 236, 236);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header > img {
  height: 90%;
  align-self: center;
}

hr.header {
  padding: 0;
  margin-bottom: 3%;
  height: 3px;
  background: #ececec;
}

.text {
  width: 75vw;
  height: fit-content;
  overflow:hidden;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #ececec;
  border-radius: 15px;
  padding: 10px;
  padding-left: 33px;
  padding-right: 33px;
  color: #2e3440;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;

  transition: height 0.2s;
}

h1.text, h2.text, h3.text {

}

#p5_loading {
  background-color: #1e1b35;
  color: #ececec;
  box-sizing: border-box;
  display: flex;
  vertical-align: middle;
  width: 50vw;
  height: 50vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.loader {
  margin: auto;
  border: 6px solid #ececec;
  border-radius: 50%;
  border-top: 6px solid coral;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

hr.internalSeparator {
  border: 0;
  width: 75vw;
  height: 3px;
  margin: 0 auto;
  background: linear-gradient(to right, #ececec00, #ececec, #ececec00);
}

span.link {
  color:rgb(7, 114, 255);
  text-decoration: underline;
}

/* Estilo de los botones */

button > img {
  width: 33px;
  align-self: center;
  margin: 0;
}

button.img {
  margin-right: 33px;
  margin-left: 33px;
}

.options > button {
  background-color: transparent;
  width: fit-content;
  height: fit-content;
}

.options {
  background-color: rgb(236, 236, 236);
  display: flex;
  align-content: space-between;
  width: 50vw;
  border-radius: 15px;
}

.slider {
  -webkit-appearance: none;
  width: 75%;
  height: 15px;
  border-radius: 5px;  
  background:  #2e3440;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  align-self: center;
  /* margin-right: 33px; */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: coral;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

ul.navbar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 75vw;
  height: fit-content;
  background-color: #ececec;
  border-radius: 5px;
  margin: auto;
  color: #2e3440;
  margin-top: 33px;
  margin-bottom: 33px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

ul.navbar > li {
  display: inline;
  transition: color 0.25s;
}

a:link {
  text-decoration: none;
  color: #2e3440;
  transition: color 0.25s;
}

a:visited {
  text-decoration: none;
  color: #2e3440;
  transition: color 0.25s;
}

a:hover {
  color: black;
}

/* Imágenes */
.embeddedImg {
  width: 50%;
  margin: auto;
  display: block;
  border: solid 5px #2e3440;
  border-radius: 15px;
  background-color: #2e3440;
}